.red {
  width: 50px;
  background-color: red;
}
.blue {
  width: 50px;
  background-color: blue;
}
.green {
  width: 50px;
  background-color: green;
}
.yellow {
  width: 50px;
  background-color: yellow;
}
.grey {
    width: 50px;
    background-color: grey;
  }
